aside {
    display: block;
    height: 100%;
    margin-top: 2em;
}

.card-user-container {
    background-color: #fefefe;
    color: #0a0a0a;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
}

.card-user-container .card-user-avatar .user-image {
    display: block;
    margin: auto;
    border-radius: 100%;
    width: 11.875rem;
    height: 11.875rem;
    padding: 0.9375rem;
}

.card-user-container .card-user-avatar .user-image:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card-user-container .card-user-bio {
    padding: 1rem;
    text-align: center;
}

.card-user-container .card-user-bio .location {
    display: inline-block;
    margin: 0 0.9375rem;
    color: #767676;
    font-size: 0.875rem;
}

.card-user-container .card-user-bio .location-icon,
.card-user-container .card-user-bio .location-text {
    display: inline-block;
    padding: 0 0.3125rem;
}

.card-user-container .card-user-social {
    background: #e6e6e6;
    padding: 1rem;
    text-align: center;
}

.card-user-container .card-user-social ul {
    display: inline-block;
}

.card-user-social a li {
    color: black;
}

.card-user-container .card-user-social ul li {
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.card-user-container .card-user-social ul li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card-user-container .card-user-button {
    text-align: center;
    padding: 1rem;
}

.follow_button {
    display: block;
    font-size: 125%;
    color: var(--textColor);
    background: var(--primaryColor);
    width: 100%;
    height: 50px;
    padding-top: 15px;
}

.follow_button:hover {
    background: var(--darkPrimaryColor);
    color: var(--textColor);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

form.formsearch {
    display: block;
}

form.formsearch input[type=text] {
    padding: 10px;
    margin: 5px 0 5px 5%;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

form.formsearch button {
    margin: 5px 5px 5px 0;
    float: left;
    padding: 10px 0 10px 0;
    width: 19%;
    background: var(--primaryColor);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.formsearch button:hover {
    background: var(--darkPrimaryColor);
}

.tags {
    font-style: italic;
    padding: 5px;
    margin-top: 2em;
    align-content: center;
    margin-left: 5%;
}

.tags li {
    padding-right: 3px;
    display: inline-block;
}

.tags a {
    color: var(--accentColor);
}

.tags a:hover {
    color: var(--primaryColor);
}

.commentgrid {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 60px 60px;
    grid-template-areas: 'avatar comment';
    grid-gap: 5px;
}

.avatar {
    grid-area: 'avatar';
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 40%;
}

.comment {
    grid-area: 'comment';
}

.comment p {
    width: 90%;
    height: 40%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.avatar,
.comment {
    margin-bottom: 5px;
}