* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black;*/
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

a:hover {
    color: var(--accentColor);
}

:root {
    --primaryColor: #2196F3;
    --textColor: #FFFFFF;
    --primaryTextColor: #212121;
    --divider: #BDBDBD;
    --accentColor: #757575;
}

.content {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 25px auto 25px auto;
    -webkit-box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 1);
}