        * {
            margin: 0;
            padding: 0;
            /* border: 1px solid red;*/
            font-family: 'Montserrat', sans-serif;
        }
        
        html {
            background-color: #f0f0f0;
        }
        
         :root {
            --primaryColor: #2196F3;
            --darkPrimaryColor: #0b7dda;
            --textColor: #FFFFFF;
            --primaryTextColor: #212121;
            --divider: #BDBDBD;
            --accentColor: #767676;
        }
        
        a {
            text-decoration: none;
            color: var(--textColor);
        }
        
        a:hover {
            color: var(--accentColor);
        }
        
        .content {
            max-width: 1200px;
            display: grid;
            grid-template-columns: 33% 67%;
            grid-template-areas: "aside main";
            align-items: center;
            margin: 25px auto 25px auto;
            -webkit-box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 1);
            box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 1);
            padding: 1.5%;
        }
        
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
        
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
            grid-gap: 20px;
            align-items: stretch;
        }
        
        .cards__item {
            display: flex;
            padding: 1rem;
            width: 100%;
        }
        
        .card {
            background-color: white;
            border-radius: 0.25rem;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        
        .card:hover .card__image {
            -webkit-filter: contrast(100%);
            filter: contrast(100%);
            transform: scale(1.1);
        }
        
        .card__content {
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
        
        .card__image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            -webkit-filter: contrast(70%);
            filter: contrast(70%);
            overflow: hidden;
            position: relative;
            transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
            transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
            transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        }
        
        .card__image::before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }
        
        @media (min-width: 40rem) {
            .card__image::before {
                padding-top: 66.6%;
            }
        }
        
        .card__image--fence {
            background-image: url(https://unsplash.it/800/600?image=59);
        }
        
        .card__image--china {
            background-image: url(https://www.carbonbrief.org/wp-content/uploads/2017/03/GettyImages-506296056-1550-1033-1550x804.jpg);
        }
        
        .card__image--australia {
            background-image: url(http://www.lostgirlsworld.com/wp-content/uploads/2011/08/Kangaroo-on-a-Beach.jpg);
        }
        
        .card__image--bird {
            background-image: url(http://vedmochka.net/media/k2/items/cache/cac344d9e98185e7505d4caa63af5304_XL.jpg);
        }
        
        .card__title {
            color: #696969;
            font-size: 1.25rem;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        
        .card__text {
            flex: 1 1 auto;
            font-size: 0.875rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;
        }
        
        .cardinfo {
            display: flex;
            color: var(--accentColor);
            display: inline-block;
        }
        
        .cardinfo li {
            margin-right: 5%;
        }