@media screen and (max-width: 768px) {
    .navcontainer {
        display: none;
    }
    .logo {
        margin-left: auto;
        margin-right: auto;
    }
    .nav {
        display: block;
    }
}

@media screen and (min-width:768px) {
    .nav {
        display: none;
    }
}

@media screen and (max-width: 1230px) {
    .content {
        margin-right: 15px;
        margin-left: 15px;
    }
}